/* CSS Reset */
*
	{
	margin: 0;	
	padding: 0;
	box-sizing: border-box;
	}

#sidebar
	{
	display: none;
	position: fixed;
	z-index: 2;
	}

#floating
	{
	display: none;
	position: fixed;
	z-index: 3;
	background-image: url(./images/lettering.jpg);
	background-position: center center; 
	}

#landing
	{
	background-image: url(./images/bg1.jpg);
	background-position: center center; 
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: auto 100vh;
	}



#footer
	{
	background-image: url(./images/bg1.jpg);
	background-position: center center; 
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: auto 100vh;
	font-family: "questrial";
	}


/* Background Overrides */
.bg-dark
	{
	background-color:#1A3A69 !important;	
	}

.bg-light
	{
	background-color: #F9F0E2 !important;
	}

.bg-warning
	{
	background-color: #FBAC3A !important;	
	}

.bg-primary
	{
	background-color: #5FAB95 !important;	
	}

.bg-secondary
	{
	background-color: #8E8B7E !important;	
	}

.bg-info
	{
	background-color: #5FAB95 !important;
	}

.bg-danger
	{
	background-color: #F04E46 !important;
	}

/* Font and Texts */
#sidebar-title
	{
	font-family: "bebas neue";
	font-weight: bold;
	}

#text-1
	{
	font-size: 5rem ;
	}

#text-2
	{
	font-size: 2.5rem ;
	}

#text-3
	{
	font-size: 1.0rem ;
	letter-spacing: 0.25rem;
	}

#hotlinks
	{
	font-family: "Questrial";
	font-weight: bold;
	letter-spacing: 0.5rem;
	}

 @media (min-width: 992px) 
 {
   #paragraph
   	{
   	font-size: 23px;
   	}
 }
#paragraph
	{
	font-family: "Questrial";
	color: #F9F0E2;
	}

/*navbar mobile stylings*/
.navbar-brand
	{
	color: #F9F0E2;
	font-family: "bebas neue";
	margin-left: 25px;
	letter-spacing: 0.30rem;
	}

#navbarNav
	{
	color: #F9F0E2;
	font-family: "bebas neue";
	letter-spacing: 0.2rem;
	}

#about-me-text
	{
	display: block;
	vertical-align: top;
	justify-content: center;
	margin-top: 3.5%;
	margin-bottom: 3rem;
	text-align: center;
	border-radius: 50px;
	padding: 5rem 2rem;
	}

#proj-catalog
	{
	font-family: "Questrial";
	}

#soclinks-mobile
	{
	padding: 0;
	position: sticky;
/*	left: 10px;
	bottom: 10px;*/
	bottom: 0px;
	z-index: 3;
	}

/*BUTTONS OVERRIDE*/
.btn-outline-secondary
	{
	background-color: #8E8B7E ;
	border: none;
	border-radius: 15px;
	}

.btn-home:hover
	{
	background-color: #1A3A69 !important;
	transition: 0.25s;
	}

.btn-about:hover
	{
	background-color: #5FAB95 !important;
	transition: 0.25s;
	}

.btn-proj:hover
	{
	background-color: #FBAC3A !important;
	transition: 0.25s;
	}

.btn-contact:hover
	{
	background-color: #F04E46 !important;
	transition: 0.25s;
	}

.btn-send:hover
	{
	background-color: #F04E46 !important;
	color: white;
	transition: 0.25s;
	}


/*FORM GROUP OVERRIDES*/
.form-control , .input-group-text
	{
	border-radius: 25px;
	}

.card
	{
	border-radius: 25px;
	}